$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-dropdown: "\e90c";
$icon-delete: "\e90a";
$icon-fullscreen: "\e907";
$icon-refresh: "\e912";
$icon-save: "\e90f";
$icon-eye-off: "\e910";
$icon-eye: "\e911";
$icon-close: "\e908";
$icon-notification: "\ea08";
$icon-cog: "\e994";
$icon-check: "\e903";
$icon-star-full: "\e900";

