.form {
  max-width: 580px;
  margin: auto;
  @include boxShadow();
}

.title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: initial;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  > * + * {
    margin-left: 10px;
  }
}

.formError {
  color: $errorTextColor;
}
