$paddingTop: 9px;

.btn {
  padding: $paddingTop 4px;
  border: none;
  background: none;
  color: $navLinkColor;
  &:hover {
    color: $navLinkHoverColor;
  }
  &:focus {
    outline-color: $navLinkFocusFrameColor;
  }
}

.btnLink {
  padding: $paddingTop 4px;
  font-family: "Proxima-Semibold";
  display: inline-block;
  text-decoration: none;
  color: $navLinkColor;
  text-align: center;
  &:hover {
    color: $navLinkHoverColor;
  }
  &:focus {
    outline-offset: -1px;
    outline-color: $navLinkFocusFrameColor;
  }
  &[aria-current="page"] {
    text-decoration: underline;
  }

  + .btnLink {
    margin-left: 12px;
    position: relative;
    &::before {
      content: " ";
      left: -6px;
      top: $paddingTop;
      width: 1px;
      background: $basicTextColor;
      height: calc(100% - #{$paddingTop * 2});
      display: block;
      position: absolute;
    }
  }
}
