.btn {
  color: $warnBtnTextColor;
  background: $warnBtnBackColor;
  border-color: $warnBtnBackColor;

  &:hover {
    color: $warnBtnHoverTextColor;
    background: $warnBtnHoverBackColor;
  }
  &:focus {
    outline-color: $warnBtnFocusFrameColor;
  }
}

.modalContent {
  padding: 30px 20px 20px;
  h2,
  h3 {
    white-space: pre;
    text-align: center;
    margin-bottom: 30px;
  }
  .btnGroup {
    display: flex;
    justify-content: center;
    button {
      min-width: 80px;
      + button {
        margin-left: 20px;
      }
    }
  }
}
