.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  background-color: #9cabab;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: $borderRadius;
}

.table > thead > tr > th {
  padding: 8px;
  text-align: inherit;
  vertical-align: middle;
  color: $tableHeaderTextColor;
  background-color: $tableHeaderBackColor;
}

.table > tbody > tr > td {
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #a6b1b1 !important;
}

.progressColumn {
  min-width: 90px;
}

.progressBar {
  color: #4e4e4e;
  width: 100%;
  font-size: 10px;
  background-color: #7ed08f;
}
// .progress {
//   position: relative;
//   padding: 0;
//   margin-bottom: 0;
//   border-radius: 0;
// }

// .progress-bar {
//   box-shadow: none;
// }

// .progress-bar-info {
//   background-color: #7ed08f;
// }

// .progress-column {
//   vertical-align: middle !important;
//   padding: 0 !important;
// }

// .progress span {
//   color: #4e4e4e;
//   position: absolute;
//   display: block;
//   width: 100%;
//   font-size: 10px;
// }
