.content {
  position: relative;
}

.btnPanel {
  display: flex;
  > * {
    padding: 8px;
    + * {
      border-left: 1px solid gray;
    }
  }

  .btnMax {
    @include iconBefore($icon-fullscreen);
  }

  .btnClose {
    @include iconBefore($icon-close);
  }
}

.error {
  color: red;
}
