.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.btnPanel {
  display: flex;
  background: white;
  box-shadow: rgba(100, 115, 130, 0.15) 0 1px 4px 0;
  max-width: fit-content;
  margin-left: auto;
  > button {
    color: gray;
    font-size: 20px;
    line-height: 20px;
    height: 30px;
    width: 50px;
    &:hover {
      color: black;
      background-color: #adc7ed;
    }
  }

  .btnMax {
    @include iconBefore($icon-fullscreen);
    font-size: 24px;
  }

  .btnClose {
    @include iconBefore($icon-close);
  }
}

.error {
  color: red;
}

.inputGroup {
  display: flex;
  > label {
    > span:first-child {
      display: none;
    }
    margin-bottom: 0;
    flex: 1 1 30%;
    + * {
      margin-left: 10px;
    }
    &:nth-child(3) {
      flex-basis: 40%;
    }
  }
  + .inputGroup {
    margin-top: 4px;
  }
}

.form [type="submit"] {
  margin-top: 16px;
}
