.formContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: white, $alpha: 0.3);
  z-index: 2;

  > form {
    position: relative;
    margin-top: 30px;
    z-index: 3;
    float: right;
  }
  .clearCache {
    width: 100%;
    margin-bottom: 10px;
  }
}
