[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.container-search {
    max-width: 540px;
}

.goods-container {
    max-width: 1000px;
    margin: 5px auto 5px auto;
    text-align: center;
}

.btn,
.dropdown-menu,
input {
    border-radius: 2px!important;
}

body {
    margin: 10px;
    background-color: #899090;
    color: whiteSmoke
}

.form-control::-webkit-input-placeholder {
    color: lightgray;
}

.form-control:focus {
    background-color: #f0fdf4;
    border-color: #4a7fa9;
}

.search-group {
    margin-bottom: 20px;
    max-width: inherit;
}

.title {
    padding: 5px;
    margin: 0;
    color: #ffee03
}

.grid {
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(50px, 100px)) repeat(2, auto);
    grid-gap: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.input-price {
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.bottom {
    margin-bottom: 4px;
}

.btn-search {
    width: 100%;
    background-color: #c6efb8;
}

.btn-search:hover {
    background-color: #deefd9;
}

.btn-search:active {
    background-color: #deefd9!important;
}

.btn-search:focus {
    background-color: #c6efb8;
}

.dropdown {
    display: inherit!important;
    min-width: 100px;
}

.dropdown>.btn {
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
}

.dropdown>.btn>.caret {
    float: right;
    margin-top: 8px;
}

.dropdown-sort {
    min-width: 210px;
}

.dropdown-menu {
    width: 100%;
    min-width: 0;
    padding: 0;
}

.dropdown-menu>li>a {
    padding: 5px 10px 5px 10px;
}

.ship-contry {
    font-size: 10px!important;
}

.good-container {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    margin-bottom: 15px;
    width: 200px;
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.frame {
    height: 200px;
    width: 200px;
    position: relative;
    background-color: white;
    filter: brightness(90%);
}

.description {
    overflow-wrap: break-word;
    text-align: left;
    font-size: 13px;
    color: #dadada;
}

.price-container {
    background-color: #545252;
}

.price {
    font-weight: bold;
    color: #ffee03;
    font-size: 16px;
    display: inline-block;
}

.price-unit {
    color: rgb(218, 218, 218);
    font-size: 12px;
    margin-left: 3px;
    margin-top: 3px;
    float: left;
}

.good-piece {
    margin-left: 10px;
    display: inline-block;
    font-size: 12px;
}

.price-view {
    display: inline-flex;
    font-size: 12px;
    color: rgb(79, 79, 79)
}

.shipping {
    margin-left: 11px;
}

.good-link {
    color: inherit;
}

.good-link:hover {
    text-decoration: none;
    color: inherit;
}

.search-label {
    color: #d5f1b3;
}

.search-value {
    color: #d5f1b3;
}

.search-header {
    color: #d5f1b3;
}

.align-left {
    text-align: left;
}

.table {
    margin-top: 10px;
    font-size: 12px;
    background-color: #9cabab;
    text-align: center;
}

.table>thead>tr>th {
    text-align: inherit;
    vertical-align: middle;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.search-body>tr>td {
    border-top: 1px solid #a6b1b1!important;
}

.progress {
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
}

.progress-bar {
    box-shadow: none;
}

.progress-bar-info {
    background-color: #7ed08f;
}

.progress-column {
    vertical-align: middle!important;
    padding: 0!important;
}

.progress span {
    color: #4e4e4e;
    position: absolute;
    display: block;
    width: 100%;
    font-size: 10px;
}

.progress-header {
    min-width: 90px;
}

@media screen and (max-width: 540px) {
    body {
        margin: 2px;
    }
    .container {
        padding: 0;
    }
}

.exception {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.ng-invalid {
    border-color: red!important;
}

.glyphicon-star,
.glyphicon-star-empty {
    font-size: 90%;
    margin-left: 1px;
}

.glyphicon-star {
    color: orange;
}

.glyphicon-star-empty {
    color: #e2e2e2;
}

.glyphicon-star-empty:before {
    content: "\e006";
}

.store-info {
    font-size: 12px;
}

.store-info>a {
    color: inherit;
}

.store-info>a>div {
    display: inline-block;
}

.store-info>a:hover {
    color: #23527c;
    text-decoration: inherit;
}

.store-name {
    color: #ccf9d0;
}

.modal-content {
    color: initial;
}

.modal-header {
    padding: 0 0 15px 5px;
    border-bottom: initial;
    white-space: pre-line;
}

.btn-close {
    padding: 8px !important;
    background-color: inherit;
    z-index: 10;
    position: relative;
}

.btn-close:focus {
    outline: 0;
}

.summary {
    color: #f7ee7c;
}

strong {
    font-weight: initial;
    color: #0e869a;
}

.dropdown-menu>.active>a {
    background-color: #c7c7c7;
    color: initial;
}

.dropdown-menu>.active>a:hover {
    background-color: #f5f5f5;
    color: initial;
}

.goods-count {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fixed {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 0 5px 5px;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2000;
    text-align: center;
}

.loader {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 9px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #49555d;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}