.btn {
  font-weight: bold;
  color: $secondaryBtnTextColor;
  background: $secondaryBtnBackColor;
  &:hover {
    color: $secondaryBtnHoverTextColor;
    background: $secondaryBtnHoverBackColor;
  }
}
