.btn {
  font-weight: bold;
  color: $warnBtnTextColor;
  background: $warnBtnBackColor;
  border-color: $warnBtnBackColor;

  &:hover {
    color: $warnBtnHoverTextColor;
    background: $warnBtnHoverBackColor;
  }
  &:focus {
    outline-color: $warnBtnFocusFrameColor;
  }
}
